$colorfondo: rgb(53, 53, 53);
body{
    background: $colorfondo;
}
.container{
    margin: 0 auto;
    width: 90%;
}
.flex{
    display: flex;
}
.centex{
    text-align: center;
}
.column{
    background: rgb(0, 248, 165);
    border: 1px solid rgb(61, 61, 61);
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px 8px rgb(0, 0, 0);
}
.precio{
    font-size: 50px;
    color: blue;
}